@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RESTAURANT RATER</h1>
    <p class="lead">Rate restaurants</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Restaurants</h2>
        <p>
           TEXT TEXT TEXT
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rate Restaurants</h2>
        <p> TEXT TEXT TEXT</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Submit Your Restaurant</h2>
        <p> TEXT TEXT TEXT</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>